<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription</key>
	<string>This app needs NFC access to communicate with Stellar Merch Shop Blockchain chips for signing blockchain transactions.</string>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
		<string>TAG</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D276000004150200000000010000</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>StellarContractIdLocal</key>
	<string>CBLTP3BVYKJURO7RCLURKMFAGSBQHYYC36WVIZKQOIK25ZQMO4SVFL4W</string>
	<key>StellarContractIdTestnet</key>
	<string>CD5GYISJJKTE5SMZHS4UVSBXM2A2DKUUOUHAK2SZ24IU5TOBRV54CPK3</string>
	<key>StellarContractIdMainnet</key>
	<string></string>
</dict>
</plist>
