<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription</key>
	<string>This app needs NFC access to communicate with Stellar Merch Shop Blockchain chips for signing blockchain transactions.</string>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>StellarContractIdTestnet</key>
	<string>CD5GYISJJKTE5SMZHS4UVSBXM2A2DKUUOUHAK2SZ24IU5TOBRV54CPK3</string>
	<key>StellarContractIdMainnet</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nfmerch</string>
				<string>stellarmerch</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.stellarmerchshop.deeplink</string>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>NFCMerch</string>
</dict>
</plist>
